<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- For the Sentry appender, the logging threshold is automatically set to ERROR by default -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>${SENTRY_URL}</dsn>
        </options>
    </appender>

    <appender name="Logflare" class="com.badfic.philbot.log.LogflareAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <logflareUrl>${LOGFLARE_URL}</logflareUrl>
        <logflareApiKey>${LOGFLARE_API_KEY}</logflareApiKey>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="Logflare" />
        <appender-ref ref="Sentry" />
    </root>
</configuration>