<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- For the Sentry appender, the logging threshold is automatically set to ERROR by default -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>${SENTRY_URL}</dsn>
        </options>
    </appender>

    <appender name="SumoAppender" class="com.sumologic.logback.SumoLogicAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <url>${SUMOLOGIC_URL}</url>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="SumoAppender" />
        <appender-ref ref="Sentry" />
    </root>
</configuration>