{{> swamp-header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">All About Us</h2>
            <p class="swampys">
                <b>Hello all you cool cats and kittens and welcome to The Swamp!</b><br><br>

                What originally started out as a server named Rarepair Affair for this discussion of rarepairs in fanfiction, has grown into something a whole
                lot larger than itself.<br><br>
                The Swamp went through a lot of growing pains in its heyday. Back when we were barely more than a few months old and just a bunch of chaotic queers
                all cooped up during a pandemic, just wanting to connect with like-minded people so we could feel less alone. What many of us found was a family,
                a place for all of us to come together and talk about the things we love and the things that ail us.<br><br>
                Because who is more supportive of your neroses than a bunch of nerds from all over the world experiencing the same things?<br><br>
                Now, The Swamp is a space for us to come together to watch TV shows, movies, play games, talk trivia, run writing sprints, track our writing
                progress, and more. We've become a place that's for everyone. No matter where you come from or who you are.<br><br>
                If you love something and you want to scream about it or if you just want a group of nerds who will love and support youi through <i>these unprecedented times</i>, The Swamp is
                the place for you.</p> <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Frequently Asked Questions</h2>
            <p class="swampys">
                <b>COMING SOON</b><br><br></p>
            <br>
        </div>
    </div>
</div>
{{> footer}}
