<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{pageTitle}}</title>

    {{> external-dependencies}}

    <style>
        body {
            background-color: #000;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="col-12" id="chatApp">
        <div class="alert alert-secondary bg-dark text-light">
            [[ status ]]
            <div class="dropdown float-right mr-1">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Online Users
                </button>
                <ul class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="dropdownMenuButton">
                    <li v-for="user in onlineUsers" class="dropdown-item disabled text-light">[[ user ]]</li>
                </ul>
            </div>
        </div>
        <ul id="messageArea" class="list-unstyled bg-dark text-light vh-100" style="max-height: 64vh; overflow:auto">
            <li v-for="message in messages" class="media my-3 ml-1 bg-dark text-light">
                <img class="mr-3" :src="message.avatar" width=50 height=50 alt="Avatar">
                <div class="media-body bg-dark text-light text-break">
                    <h5 class="mt-0 mb-1 text-light font-weight-bold">[[ message.sender ]]</h5>
                    [[ message.content ]]
                </div>
            </li>
        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group bg-dark text-light">
                <div class="input-group clearfix  bg-dark text-light">
                    <input type="text" width="100%" id="message" placeholder="Type a message..." autocomplete="off" class="form-control  bg-dark text-light"/>
                    <button type="button" class="emoji-trigger">🙂</button>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{> chatappjs}}
{{> footer}}
