{{> members-header}}
<div class="container-fluid">

    <br/>
    <h2>Note: !!swampy is "the upvote command"</h2>
    <br/>
    {{#commands}}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">!!{{name}}</h3>
            <p class="card-text">
                {{#aliases}}
                <b>Aliases:</b><br/>{{aliases}}<br/><br/>
                {{/aliases}}
                {{#requiredRole}}
                <b>Required Role:</b> {{requiredRole}}<br/>
                {{/requiredRole}}
                <b>Help:</b>
            </p>
            {{#modHelp}}
                <pre style="white-space: pre-wrap;">{{modHelp}}</pre>
            {{/modHelp}}
            {{^modHelp}}
                <pre style="white-space: pre-wrap;">{{help}}</pre>
            {{/modHelp}}
        </div>
    </div>
    <br/>
    {{/commands}}
</div>
{{> footer}}