{{> swamp-header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">The Story of How We Became Cursed</h2>
            <p class="text-center">THE FOLLOWING IS THE REAL LIFE ACCOUNT OF HOW RARE PAIR AFFAIR WENT FROM BEING AN
                INNOCENT RARE PAIR SERVER TO THE CURSED SERVER IT IS TODAY</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div id="app">
                {{#messages}}
                    <div class="swamp">{{{.}}}</div>
                {{/messages}}
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

{{> footer}}
