{{> swamp-header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Our Collection of Cursed Memes</h2>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">By Nelly</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/741101513648373830/behleo.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/741101513648373830/behleo.png" class="img-fluid"
                         alt="Behrad from Legends of Tomorrow snuggling with Leonardo Dicaprio. I think this might also be Katniss and Peeta? Idfk." /></a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <img src="https://cdn.discordapp.com/attachments/741053845098201099/761420709578276884/icon.png" class="img-fluid"
                     alt="Phil Klemmer as Ellen Degeneres in a spooky pumpkin suit" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741000350500126753/769234462515920906/phellenredux.png">
                    <img src="https://cdn.discordapp.com/attachments/741000350500126753/769234462515920906/phellenredux.png" class="img-fluid"
                         alt="Phil Klemmer as Ellen Degeneres on her show in a big white chair with the caption Phellentube"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <img src="https://cdn.discordapp.com/attachments/741030569307275436/748960949473640540/phillyw.png" class="img-fluid"
                     alt="Phil Klemmer as Gene Wilder Willy Wonka with the caption You Must Be New Here." />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <img src="https://cdn.discordapp.com/attachments/741047915916820560/783055696081453097/the_nova_with_the_pearl_earring.png" class="img-fluid"
                     alt="A beautiful Great Dane named Nova cosplaying as The Girl with the Pearl Earring" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <img src="https://cdn.discordapp.com/attachments/741000350500126753/771411319671750716/phellenmask.png" class="img-fluid"
                     alt="Eyeless Phil Klemmer as Ellen mask" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <img src="https://cdn.discordapp.com/attachments/741030569307275436/741387775676252240/tumblr_7e96b7dbf6df78373d651fd3a184c13e_25cce389_1280.png" class="img-fluid"
                     alt="How they contracted coronavirus meme. Liked a pole on a dare: John and Charlie. Playing nurse to someone else infected: Gary and Ray. Unprotected trip to poundtown: Nora and Mona. Grateful Dead Concert: Behrad and Nate. Unprotected trip to poundtown AT a grateful dead concert: Mick. didn't get it cause they actually washed their hands: Ava, Sara, Zari." />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/750893479130824805/pharole.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/750893479130824805/pharole.png" class="img-fluid"
                         alt="Carole Baskin but with Phil Klemmer's face (Pharole Klaskin)."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/751901043817971722/serverbanner.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/751901043817971722/serverbanner.png" class="img-fluid"
                         alt="Cursed Legends of The swamp banner with Shrek, Phil Klemmer, Mullet John, Buff John, Sting, William Schuester, Mask Caity Lotz, Sisqo, Timothy Chalemet, Billy Ray Cyrus, green balloon, Mullet Ava and Jesus Keanu."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/788936984466161674/humpygrinch.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/788936984466161674/humpygrinch.png" class="img-fluid"
                         alt="Glee hump day meme but Will is green like the Grinch. That fucking disaster."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024043091755139/765011143298514964/white_canary.png">
                    <img src="https://cdn.discordapp.com/attachments/741024043091755139/765011143298514964/white_canary.png" class="img-fluid"
                         alt="Sara Lance as White Canary in full costume played by Leonardo Dicaprio (his face superimposed on Caity Lotz's body)."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024043091755139/750104695703601264/legendsoftheswamp.png">
                    <img src="https://cdn.discordapp.com/attachments/741024043091755139/750104695703601264/legendsoftheswamp.png" class="img-fluid"
                         alt="The Legends of the swamp poster with all the banner trimmings but full size in all it's glory."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024043091755139/745346290170331166/drphil.png">
                    <img src="https://cdn.discordapp.com/attachments/741024043091755139/745346290170331166/drphil.png" class="img-fluid"
                         alt="Dr. Phil standing there with his arms crossed but instead of Phil's face it's PHIL KLEMMER'S FACE. Who let this man be a doctor???"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024043091755139/745324606776148131/phellen.png">
                    <img src="https://cdn.discordapp.com/attachments/741024043091755139/745324606776148131/phellen.png" class="img-fluid"
                         alt="Ellen Degeneres ion her white suit, but it's Phil Klemmer's face. OG Phellen Klemgeneres. It haunts my nightmares."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741022962337185994/770688695320707142/retrobehrad.png">
                    <img src="https://cdn.discordapp.com/attachments/741022962337185994/770688695320707142/retrobehrad.png" class="img-fluid"
                         alt="Behrad with a booty as a car hop. Lookin foine."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741022962337185994/770690059752964146/retrozari.png">
                    <img src="https://cdn.discordapp.com/attachments/741022962337185994/770690059752964146/retrozari.png" class="img-fluid"
                         alt="Zari with a booty as a car hop. Lookin foine."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741022962337185994/759898107625996308/brigade.png">
                    <img src="https://cdn.discordapp.com/attachments/741022962337185994/759898107625996308/brigade.png" class="img-fluid"
                         alt="Rip, John, and Ava all in trenchcoats with the caption 'The Trenchcoat Brigade'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741025219346563073/752989063199326400/buffjohnpriest.png">
                    <img src="https://cdn.discordapp.com/attachments/741025219346563073/752989063199326400/buffjohnpriest.png" class="img-fluid"
                         alt="Buff John dressed as a sexy priest."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741022962337185994/749344835626074183/triplets.png">
                    <img src="https://cdn.discordapp.com/attachments/741022962337185994/749344835626074183/triplets.png" class="img-fluid"
                         alt="Mullet triplets Ava, Sara, and John."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741025219346563073/787176717282181150/rumproast.png">
                    <img src="https://cdn.discordapp.com/attachments/741025219346563073/787176717282181150/rumproast.png" class="img-fluid"
                         alt="Kerry Washington looking thicc with a potroast on her booty."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741025219346563073/743152612198711417/stemothee.png">
                    <img src="https://cdn.discordapp.com/attachments/741025219346563073/743152612198711417/stemothee.png" class="img-fluid"
                         alt="Steve Rogers and Timothee Chalemet holding hands in some woods or something. Avengers? Idek."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741025219346563073/741734100922007692/shril.png">
                    <img src="https://cdn.discordapp.com/attachments/741025219346563073/741734100922007692/shril.png" class="img-fluid"
                         alt="Shrek but with Phil Klemmer's cursed ass face."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/742534164863254539/742534570062250144/CAMP2.png">
                    <img src="https://cdn.discordapp.com/attachments/742534164863254539/742534570062250144/CAMP2.png" class="img-fluid"
                         alt="John Constantine as a Capri Sun. With a cigarette. Red tie."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741025219346563073/742562333548871843/john_alien2.png">
                    <img src="https://cdn.discordapp.com/attachments/741025219346563073/742562333548871843/john_alien2.png" class="img-fluid"
                         alt="John Constantine as an alien. With a cigarette. Red tie. And Trenchcoat."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024065812431018/745429117142564994/dancingphellen.gif">
                    <img src="https://cdn.discordapp.com/attachments/741024065812431018/745429117142564994/dancingphellen.gif" class="img-fluid"
                         alt="Ellen dancing on Jimmy Fallon butt make it Phil Klemmer."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/761398315119280158/830130034697043968/concuber.png">
                    <img src="https://cdn.discordapp.com/attachments/761398315119280158/830130034697043968/concuber.png" class="img-fluid"
                         alt="Concombre. It's John Constantine trapped in a cucumber or a pickle idek."/></a>
            </div>

        </div>
    </div>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">By Rhea</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/784419008958693386/WHERE_IS_LENA.jpg">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/784419008958693386/WHERE_IS_LENA.jpg" class="img-fluid"
                         alt="Crochet witch pumpkin with the caption When will Lena come home I don't want Philliam Clause anymore." /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030607500607488/782197085550280734/1606560694386.jpg">
                    <img src="https://cdn.discordapp.com/attachments/741030607500607488/782197085550280734/1606560694386.jpg" class="img-fluid"
                         alt="Always has been Meme with the Earth edited to be nowt but Texas and the caption 'Wait, it's all Texas?' 'Always has been'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/746148999144407211/779213581409321000/1605849341480.jpg">
                    <img src="https://cdn.discordapp.com/attachments/746148999144407211/779213581409321000/1605849341480.jpg" class="img-fluid"
                         alt="ORIGINAL ARTWORK that Rhea drew of Dean Winchester but as Stregga Hell. He basically just looks like a melted egg man on a straight flag background. We love him."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024218938081340/766175111090536468/1602740735534.jpg">
                    <img src="https://cdn.discordapp.com/attachments/741024218938081340/766175111090536468/1602740735534.jpg" class="img-fluid"
                         alt="ORIGINAL ARTWORK that Rhea drew themself as a Rheanado."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024218938081340/766098845959585832/1602722562964.jpg">
                    <img src="https://cdn.discordapp.com/attachments/741024218938081340/766098845959585832/1602722562964.jpg" class="img-fluid"
                         alt="ORIGINAL ARTWORK that Rhea drew themself as a tsunami wreaking havox on the server."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741024043091755139/743619931576205394/1597363110942.jpg">
                    <img src="https://cdn.discordapp.com/attachments/741024043091755139/743619931576205394/1597363110942.jpg" class="img-fluid"
                         alt="ORIGINAL ARTWORK that Rhea created as the very first ever serious cover for the server with demon phil, tony stark, and shrek captioned 'absolutely cursed and queer'."/></a>
            </div>

        </div>
    </div>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">By Taliah</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/786808685859045396/more_chrinch_memes_bitch.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/786808685859045396/more_chrinch_memes_bitch.png" class="img-fluid"
                         alt="Matthew Morrison as the grinch looking like a fool in his grinch suit with the caption bitch you got me fucked up" /></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/786808156042559528/more_grinch_memes_matthew.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/786808156042559528/more_grinch_memes_matthew.png" class="img-fluid"
                         alt="Matthew Morrison as the grinch dressed as santa holding an empty milk glass and belching so loud he blows his back out then farts on his dogs with the caption 'matthew got me fucked up'"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/779206784619249664/swamp_bae.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/779206784619249664/swamp_bae.png" class="img-fluid"
                         alt="Salt bae but with a knife and make it shrek"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/741503278021345346/shrek.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/741503278021345346/shrek.png" class="img-fluid"
                         alt="Every human worships a god and that god is Shrek"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/775246470802178078/unknown.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/775246470802178078/unknown.png" class="img-fluid"
                         alt="Dude bro from high school musical the musical the series scream singing on guitar to his ginger friend with the caption 'y'all wondering if i'm okay' over ginger friend and 'me talking about marvel comics' over scream singing dude bro"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/743658426588201010/62123350_10157485929012682_6778917629701652480_o.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/743658426588201010/62123350_10157485929012682_6778917629701652480_o.png" class="img-fluid"
                         alt="Avengers meme where Steve says 'back off' and Tony says 'make me bitch' that i made idk. It's from the film Avengers. Sexual tension abound ig."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/743658474201809066/62106493_10157485928957682_3463103362797404160_o.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/743658474201809066/62106493_10157485928957682_3463103362797404160_o.png" class="img-fluid"
                         alt="Hawkeye probably calls Steve Daddy."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/743659460207181885/62506259_10157485928842682_1513250487439196160_o.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/743659460207181885/62506259_10157485928842682_1513250487439196160_o.png" class="img-fluid"
                         alt="Tony trying to get Bruce to hulk out while Steve asks him if he thinks everything is a joke and tony looks at him like 'yes bitch who the fuck you think you're talking to?''"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/743660720520036362/64233608_10157485928722682_4918503548452339712_n.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/743660720520036362/64233608_10157485928722682_4918503548452339712_n.png" class="img-fluid"
                         alt="Tony Stark looking sad like 'bb no'"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/743662388368244786/unknown.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/743662388368244786/unknown.png" class="img-fluid"
                         alt="Natasha pointing a gun at the screen with the caption 'I WON'T HESITATE BITCH'"/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/743662526239342703/62578443_10157485922982682_6364942641326456832_n.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/743662526239342703/62578443_10157485922982682_6364942641326456832_n.png" class="img-fluid"
                         alt="Loki looking at the Hulk like '*chuckles* I'm in danger'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/774138316949159936/idek.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/774138316949159936/idek.png" class="img-fluid"
                         alt="Facebook meme 'What if you wanted destiel to be canon' but god said 'Dean's face in the Destiel scene'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/758470521721192458/unknown.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/758470521721192458/unknown.png" class="img-fluid"
                         alt="Amy and Rory kissing but it says Nate and Z1 with The Doctor but it's Astra looking very concerned like wtf."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/758470815590121532/unknown.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/758470815590121532/unknown.png" class="img-fluid"
                         alt="Same Doctor Who Meme, Nate and Z1, but this time it's John looking concerned with eyes drawn over John Doctor's face where he's looking askance."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/758471165898784819/unknown.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/758471165898784819/unknown.png" class="img-fluid"
                         alt="Same Doctor Who meme a third time, but this time it's Behrad as The Doctor like WTF where is my fucking SISTER."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/767605084749955082/bastard_games.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/767605084749955082/bastard_games.png" class="img-fluid"
                         alt="I've connected the dots meme but it's me and Santiago and it says 'I've written the java' 'you didn't write shit' 'i've written it'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/764568937228271616/jackjuice.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/764568937228271616/jackjuice.png" class="img-fluid"
                         alt="Jack Shellington and Beatlejuice holding hands like Jack and Sally with the caption Jackjuice."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/747213906824396830/201820192020_judgement.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/747213906824396830/201820192020_judgement.png" class="img-fluid"
                         alt="2020 meme with two cats looking at a cat with a cone of shame on it. the two staring ats are 2018 and 2019 and radio dish head cat is 2020. Captioned 'Rocco had surgery today and his siblings offered no support, just judgement'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/797388460779634718/ErRc3ljUcAAxUhd.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/797388460779634718/ErRc3ljUcAAxUhd.png" class="img-fluid"
                         alt="Bruce Banner but he's saying 'I'm a bad bitch! You can't kill me!'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/775244330004774922/unknown.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/775244330004774922/unknown.png" class="img-fluid"
                         alt="Balloon popping meme. My joke being popped by you (bc you didn't get it and tried to give me your opinion on something that was obVIOUSLY a joke)."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/777984499807551488/not_another_swampy_meme.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/777984499807551488/not_another_swampy_meme.png" class="img-fluid"
                         alt="Computer man and basebell bat man meme with baseball bat man being 'Nelly and Santiago tired of our shit' and computer man being 'Lisa and I vibing'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/785651904297697280/bella_shremp.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/785651904297697280/bella_shremp.png" class="img-fluid"
                         alt="Twilight 'and what do we eat' meme, but Edward is a Shrimp and Bella is a clown and she says 'Everything'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/791393048428412968/resemblance_uncanny.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/791393048428412968/resemblance_uncanny.png" class="img-fluid"
                         alt="The Jagrafass and the editor from Doctor Who 2005 Series 1 with Rose and Nine standing beneath it and the Editor looking smug. There's a MAGA hat on the Jagrafass bc it looks like Trump and The Editor looks like Mike Pence. Tell me I'm wrong."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/800027134906204180/4u2epm.jpg">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/800027134906204180/4u2epm.jpg" class="img-fluid"
                         alt="Drake hotline bling meme where the no no square says 'a perfectly good computer with a nice mechanical keyboard and several screens for me to write on' and the yeah boi square says 'writing on my phone while laying face down on my bed'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741030569307275436/800791710690574356/nessie.png">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/800791710690574356/nessie.png" class="img-fluid"
                         alt="King cake with blood spatter with the caption 'Here comes Nessie!' this is a reference to Renesme's birth in Twilight."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/761398315119280158/779888109756219392/Screenshot_20201111-211742__02.jpg">
                    <img src="https://cdn.discordapp.com/attachments/761398315119280158/779888109756219392/Screenshot_20201111-211742__02.jpg" class="img-fluid"
                         alt="Crochet pumpkin meme 'when will Nelly come home from the skeleton war'."/></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                <a href="https://cdn.discordapp.com/attachments/741022788407787611/779194943553142844/take_ps_away.png">
                    <img src="https://cdn.discordapp.com/attachments/741022788407787611/779194943553142844/take_ps_away.png" class="img-fluid"
                         alt="Dean Winchester and rebar meme with the caption 'you' on dean and 'the guy she told you not to worry about' on the rebar."/></a>
            </div>

        </div>

        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">By Angell</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/784534974996152330/image0.jpg">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/784534974996152330/image0.jpg" class="img-fluid"
                             alt="Baseball bat guy and computer guy meme. Jack Black baseball bat guy and Crisp Rat (Chris Pratt) as computer guy. Rip Chris Pratt's career." /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/784538037983772732/GotG_STARING_JACK_BLACK.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/784538037983772732/GotG_STARING_JACK_BLACK.png" class="img-fluid"
                             alt="Guardians of the Galaxy lineup, but Quill is played by Jack Black instead of Chris Pratt."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/784538069230419968/The_only_valid_verson_of_GotG.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/784538069230419968/The_only_valid_verson_of_GotG.png" class="img-fluid"
                             alt="Guardians of the Galaxy 2 poster, but Quill is played by Jack Black."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/784544300037177385/why_did_nobody_stop_me.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/784544300037177385/why_did_nobody_stop_me.png" class="img-fluid"
                             alt="Parks and Recreation poster, but Andy is played by Jack Black."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/784544315438661722/Its_a_serise_now_.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/784544315438661722/Its_a_serise_now_.png" class="img-fluid"
                             alt="Jurrasic World poster but dude bro Chris Pratt plays is played by Jack Black."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/784552870901055508/Parks_and_Shrekreations.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/784552870901055508/Parks_and_Shrekreations.png" class="img-fluid"
                             alt="Parks and Shrekreation. Everyone on the parks and rec poster has a shrek face now."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/778050323469697044/image0.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/778050323469697044/image0.png" class="img-fluid"
                             alt="Man on couch with laptop smiling and man behind couch looking cross with a baseball bat with Denny's on cross man and Wren on happy man"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/786892110292844564/image0.jpg">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/786892110292844564/image0.jpg" class="img-fluid"
                             alt="Little girl smiling at house fire meme with the house fire being Matthew Morrison and the little girl being The Swamp (basically we want to destroy Matthew Morrison)."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/796808716623806464/image0.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/796808716623806464/image0.png" class="img-fluid"
                             alt="Salami cat. It's a cat made out of salami. Angell got sent to mega hell for this and every day that she's free i question it."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/795506941279469628/image0.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/795506941279469628/image0.png" class="img-fluid"
                             alt="Jeff Bezos's face on Mr. Krabs in the most cursed way possible while he's sitting in a mountain of cash."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/795506841719013386/image0.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/795506841719013386/image0.png" class="img-fluid"
                             alt="Mr. Krabs holding two dollar bills with Jeff Bezos and Paula Deen's faces on them, making them kiss and making a kissy face. He's at his desk in the Krustry Krab."/></a>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">By Santiago</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/786046868348993566/unknown.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/786046868348993566/unknown.png" class="img-fluid"
                             alt="Red headed girl from Big Mouth in a straight jacket face down in a swamp saying 'how am i now in a swamp?''" /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/783281556701577246/Z.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/783281556701577246/Z.png" class="img-fluid"
                             alt="Always has been meme captioned 'the swampys are optional'? 'always have been'."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/783753036907937853/image__3_.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/783753036907937853/image__3_.png" class="img-fluid"
                             alt="Stocks dummy meme but make it Shef. Like Chef."/></a>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">By Lisa</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/754933522665308260/7MviDcY__01__01.jpg">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/754933522665308260/7MviDcY__01__01.jpg" class="img-fluid"
                             alt="Cat being interviewed with a large microphone. Interviewer asks 'Sir are you aware you are a simp?' and the cat looks shocked. This is a meme about me." /></a>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">By Kath</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/751900319595888673/legendsrise.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/751900319595888673/legendsrise.png" class="img-fluid"
                             alt="Oliver Queen funeral meme with Barry Allen as The Legends of Tomorrow make it Nelly's poster meme Legends Rise and Oliver's headstone saying 'heroes fall' bc Arrow sucks." /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/751904075632738385/lesbianbehrad.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/751904075632738385/lesbianbehrad.png" class="img-fluid"
                             alt="Lesbian Behrad head."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741025219346563073/747564426139402301/smoothieshreksmut.png">
                        <img src="https://cdn.discordapp.com/attachments/741025219346563073/747564426139402301/smoothieshreksmut.png" class="img-fluid"
                             alt="iCarly Meme: 'Whatcha got there'? where Shrek smut is the ostrich and fajita chicken salad is the smoothie."/></a>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">By Sahar</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/759490849054261268/image0.jpg">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/759490849054261268/image0.jpg" class="img-fluid"
                             alt="Nora from Legends looking annoyed on a video call with the caption 'when you're on a zoom call with someone you hate'. This is about Caity Lotz." /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741030569307275436/787402483936657448/image0.png">
                        <img src="https://cdn.discordapp.com/attachments/741030569307275436/787402483936657448/image0.png" class="img-fluid"
                             alt="Beebo from Legends of Tomorrow but make him sexy in the worst possible way."/></a>
                </div>
            </div>
        </div>

        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Quintessentially Swampy Things</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <img src="https://cdn.discordapp.com/attachments/741000350500126753/741798836187693196/unknown.png" class="img-fluid"
                         alt="incogmeato says: phil is back? Phil Klemmer bot. responds i think john looks hot in his baggy clothes. Incogmeato says: ayy. John Constantine bot replies lmao. Incogmeato says: oh no the bots are communicating." />
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <img src="https://cdn.discordapp.com/attachments/741030569307275436/785939835113701396/unknown.png" class="img-fluid"
                         alt="Nellatrix Lestrange broom emoji says virgina lol i wrote it wrong virginia"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <img src="https://cdn.discordapp.com/attachments/761398315119280158/783819119232679936/holidaymeme.png" class="img-fluid"
                         alt="Phil x Matthew Morrison. All she wants for Christmas is thicc."/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="https://cdn.discordapp.com/attachments/741023498088218744/786438011671937024/the_grinch.png">
                        <img src="https://cdn.discordapp.com/attachments/741023498088218744/786438011671937024/the_grinch.png" class="img-fluid"
                             alt="We watched the Grinch musical and lost our minds. Giant wall of text with Cindy Lou and The Grinch at the middle."/></a></a>
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Old Bastards of the Week</h2>
                </div>
            </div>

            <div class="row lightgallery">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="/images/the-swampys/Week_One_810_815_Nelly.png"
                       title="Week 1 Bastard: Nelly. The original bastard. The best bastard."><img
                            src="/images/the-swampys/Week_One_810_815_Nelly.png" class="img-fluid"
                            alt="Bastard of the week, week 1 with pastel rainbow John Constantine icons. Reads: Bastard of the Week at the top of the image block and Nelly | @Starcitysirens at the bottom" /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="/images/the-swampys/Week_Three_823_830_Amanda.png"
                       title="Week 3 Bastard: Amanda. She soft, but man can she write Zed stories."><img
                            src="/images/the-swampys/Week_Three_823_830_Amanda.png" class="img-fluid"
                            alt="Bastard of the week, week 3 with Zed Martin from Constantine in leather jacket, grey tanktop, and body harness staring at the camera looking fierce. Reads: Bastard of the Week at the top of the image block and Amanda | @Little_Librarian at the bottom" /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="/images/the-swampys/Week_Four_Quarter_Quell_Lisa.png"
                       title="Week 4 Bastard: Lisa. The most cursed person in The Swamp, now bastard."><img
                            src="/images/the-swampys/Week_Four_Quarter_Quell_Lisa.png" class="img-fluid"
                            alt="Bastard of the week, week 4 with BTS on stage with mics and smiling in all black. Reads: Bastard of the Week at the top of the image block and Lisa | @writingdreamer at the bottom " /></a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
                    <a href="/images/the-swampys/Week_Eight_Santiago.png"
                       title="Week 8 Bastard: Santiago. King of Bots. Great at Rubicks Cubes."><img
                            src="/images/the-swampys/Week_Eight_Santiago.png" class="img-fluid"
                            alt="Bastard of the week, week 8 with an image of Spider Noir looking dapper. Reads: Bastard of the Week at the top of the image block and Santiago | @incogmeato at the bottom" /></a>
                </div>
            </div>
        </div>
{{> footer}}