<script>
    document.querySelectorAll(".dateable").forEach(function(d) {
        const epochMillis = d.innerHTML;
        const date = new Date(+epochMillis);
        d.innerHTML = date.toLocaleString();
    });
</script>