<script>
    $(document).ready(function() {
        $(".dateable").each(function(i, d) {
            var epochMillis = d.innerHTML;
            var date = new Date(+epochMillis);
            d.innerHTML = date.toLocaleString();
        });
    });
</script>