<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/video.js@7.11.8/dist/video-js.min.css,npm/@silvermine/videojs-chromecast@1.3.0/dist/silvermine-videojs-chromecast.min.css">
<script src="/webjars/jquery/jquery.slim.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/vue/dist/vue.min.js"></script>
<script src="/webjars/stomp__stompjs/bundles/stomp.umd.min.js"></script>