<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@7.11.8/dist/video-js.min.css" integrity="sha256-7xnTVw3qHFqXP7f2/JjFJc2M5tAdsZN/hFmXWXlki9w=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@silvermine/videojs-chromecast@1.3.0/dist/silvermine-videojs-chromecast.css" integrity="sha256-D3+dS6h/jc/zJiWDCLAF91cS2VCmzawUdVHR9q67qaQ=" crossorigin="anonymous">
<script src="/webjars/jquery/jquery.slim.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/vue/dist/vue.min.js"></script>
<script src="/webjars/stomp__stompjs/bundles/stomp.umd.min.js"></script>