{{> members-header}}
<div class="container-fluid">
    <h1>Games Config</h1>

    {{#configEntries}}
        <div class="row">
            <form id="{{fieldName}}" class="form-inline p-3">
                <div class="form-group mx-sm-3 mb-2">
                    <span>{{fieldName}}&nbsp;&nbsp;</span>
                    {{#valueIsSet}}
                        <textarea id="{{fieldName}}-value">{{fieldValue}}</textarea>
                    {{/valueIsSet}}

                    {{^valueIsSet}}
                        <input type="text" class="form-control" id="{{fieldName}}-value" value="{{fieldValue}}">
                    {{/valueIsSet}}

                    {{#valueIsImg}}
                        &nbsp;&nbsp;<img src="{{fieldValue}}" height="70" width="70"/>
                    {{/valueIsImg}}
                    <span></span>
                </div>
                <button type="submit" class="btn btn-dark mb-2">Save</button>
            </form>
        </div>
    {{/configEntries}}
</div>

<script>
    function formSubmit(e) {
        e.preventDefault();

        const postData = {
            fieldName: e.target.id,
            fieldValue: document.querySelector("#" + e.target.id + "-value").value,
        };

        fetch(window.location.href, {
            method: "POST",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify(postData)
        }).then(response => response.text())
                .then(result => alert(result))
                .catch(result => alert(result));
    }

    document.querySelectorAll("form")
            .forEach(f => f.addEventListener("submit", formSubmit));
</script>
{{> footer}}