{{> header}}
<div class="container">
    <h1>Games Config</h1>

    {{#configEntries}}
        <form id="{{fieldName}}" class="form-inline p-3">
            <div class="form-group mx-sm-3 mb-2">
                <span>{{fieldName}}&nbsp;&nbsp;</span>
                <input type="text" class="form-control" id="{{fieldName}}-value" value="{{fieldValue}}">
            </div>
            <button type="submit" class="btn btn-dark mb-2">Save</button>
        </form>
    {{/configEntries}}
</div>

<script>
    $("form").submit(function(e) {
        e.preventDefault();

        var postData = {
            fieldName: e.target.id,
            fieldValue: $("#" + e.target.id + "-value").val(),
        };

        var xhr = new XMLHttpRequest();
        xhr.open("POST", window.location.href, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.send(JSON.stringify(postData));

        xhr.onloadend = function(e) {
            alert(xhr.response);
        };
    });
</script>
{{> footer}}