{{> header}}
<div class="container">
    <p>
        Welcome to Phil's Swamp, home of all swampy web functionality.<br/>
        Please submit feedback to Santiago about what you want to be able to access here in Phil's Swamp.
    </p>
</div>
{{> footer}}