{{> header}}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <h2>Dry Bastards</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><img src="https://cdn.discordapp.com/attachments/741053845098201099/782478360491196416/dry_bastard.png" width="210" height="230"></td>
                        <td>{{dry-bastards}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg">
            <h2>Dry Cinnamon Rolls</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><img src="https://cdn.discordapp.com/attachments/741053845098201099/782478362391478322/dry_cinnamon_roll.png" width="210" height="230"></td>
                        <td>{{dry-cinnamon-rolls}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <h2>Swampy Bastards</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><img src="https://cdn.discordapp.com/attachments/741053845098201099/782478365411377193/swampy_bastard.png" width="210" height="230"></td>
                        <td>{{swampy-bastards}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg">
            <h2>Swampy Cinnamon Rolls</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><img src="https://cdn.discordapp.com/attachments/741053845098201099/782478367324635207/swampy_cinnamon_roll.png" width="210" height="230"></td>
                        <td>{{swampy-cinnamon-rolls}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{> footer}}