{{> header}}
<div class="container">
    <div class="card-deck" style="margin-top: 1em; margin-bottom: 1em;">
        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/741053845098201099/782478360491196416/dry_bastard.png">
            <div class="card-body">
                <h5 class="card-title text-center">{{dry-bastards}}</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/741053845098201099/782478362391478322/dry_cinnamon_roll.png">
            <div class="card-body">
                <h5 class="card-title text-center">{{dry-cinnamon-rolls}}</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/741053845098201099/782478365411377193/swampy_bastard.png">
            <div class="card-body">
                <h5 class="card-title text-center">{{swampy-bastards}}</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/741053845098201099/782478367324635207/swampy_cinnamon_roll.png">
            <div class="card-body">
                <h5 class="card-title text-center">{{swampy-cinnamon-rolls}}</h5>
            </div>
        </div>
    </div>
</div>
{{> footer}}