<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{pageTitle}}</title>

    {{> external-dependencies}}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/members/home">Phil's Swamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/members/commands">!!Commands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/meme-commands">!MemeCommands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/quotes">💬 Quotes</a>
            </li>

            {{#is18}}
            <li class="nav-item">
                <a class="nav-link" href="/members/nsfw-quotes">🍆 Quotes</a>
            </li>
            {{/is18}}

            <li class="nav-item">
                <a class="nav-link" href="/members/reminders">Reminders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/live">Live Watch Party</a>
            </li>
            {{#isMod}}
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/trivia">Trivia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/games-config">Games Config</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/ranks">Ranks</a>
            </li>
            {{/isMod}}
        </ul>
        <ul class="navbar-nav text-right">
            <li class="nav-item">
                <a class="nav-link" href="/members/logout">Logout ({{username}})</a>
            </li>
        </ul>
    </div>
</nav>