{{> members-header}}
<div class="container-fluid">
    <h1>🍆 NSFW Quotes 🍆</h1>
    {{#is18}}
    <div class="table-responsive-sm">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Author</th>
                <th scope="col">Quote</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
        {{#quotes}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{name}}</td>
                <td style="word-break:break-all;">{{#quote}}{{quote}}{{#image}}<br/>{{/image}}{{/quote}}{{#image}}<a href="{{image}}" target="_blank"><img src="{{image}}" width="240"></a>{{/image}}</td>
                <td class="dateable">{{timestamp}}</td>
                <td><a href="https://discordapp.com/channels/740999022340341791/{{channelId}}/{{messageId}}">jump</a></td>
            </tr>
        {{/quotes}}
            </tbody>
        </table>
    </div>
    {{/is18}}
    {{^is18}}
    <span>You must have the 18+ role to view nsfw quotes.</span>
    {{/is18}}
</div>
{{> dateable}}
{{> footer}}