<script src="https://cdn.jsdelivr.net/npm/video.js@7.7.3/dist/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@silvermine/videojs-chromecast@1.2.0/dist/silvermine-videojs-chromecast.min.js"></script>
<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

<script>
    const streamUrl = window.location.origin + "/hls/stream.m3u8";
    const streamPoster = "https://cdn.discordapp.com/attachments/323666308107599872/793416821826519070/swampy_watch_party.png";
    var options;

    options = {
        poster: streamPoster,
        controls: true,
        preload: 'none',
        techOrder: [ 'chromecast', 'html5' ],
        html5: {
            hls: {
                overrideNative: !videojs.browser.IS_SAFARI,
            },
        }
    };

    (function(window, videojs) {
        var player = window.player = videojs('player', options);
        player.chromecast();
        player.src({ type: "application/x-mpegURL", src: streamUrl });
        player.controls(true);
    }(window, window.videojs));
</script>