<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

<script>
    const options = {
        poster: "https://cdn.discordapp.com/attachments/323666308107599872/793416821826519070/swampy_watch_party.png",
        controls: true,
        preload: "none",
        techOrder: [ "chromecast", "html5" ],
        html5: {
            hls: {
                overrideNative: !videojs.browser.IS_SAFARI,
            },
        }
    };

    (function(window, videojs) {
        fetch("/members/chromecast-auth")
                .then(auth => auth.text())
                .then(authCode => {
                    const player = window.player = videojs('player', options);
                    player.src({ type: "application/x-mpegURL", src: window.location.origin + "/members/" + authCode + "/hls/stream.m3u8" });
                    player.controls(true);
                    player.chromecast();
                });
    }(window, window.videojs));
</script>