<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{pageTitle}}</title>

    {{> external-dependencies}}
</head>
<body>
<div class="navbar navbar-expand-lg py-2">
    <a class="navbar-brand" href="/"><img class="img-fluid" src="/images/swamp-logo-crop.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/the-swampys">The Swampys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/daily-riverdale-memes">Riverdale Memes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/daily-marvel-memes">Marvel Memes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cursed-timeline">How We Became Cursed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hunger-games-winners">Hunger Games Winners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-the-swamp">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://open.spotify.com/playlist/2u1vyvKkKl4vOYP48uTrhs?si=aXPfHX_zRu2pXx4ru9D_Cw">The Official Swamp Playlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/sDYkqYx">Join now!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/home">Members Only</a>
            </li>
        </ul>
    </div>
</div>