{{> swamp-header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">The Swampys</h3>
                    <a href="/the-swampys.html" class="btn btn-outline-white py-2 px-4">Learn More</a>
                </div>
                <img src="/images/swampy3.png" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">Join the swamp!</h3>
                    <a href="https://discord.gg/sDYkqYx" class="btn btn-outline-white py-2 px-4">Join now!</a>
                </div>
                <img src="/images/mod_team.png" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">Cursed Memes</h3>
                    <a href="/cursed-memes.html" class="btn btn-outline-white py-2 px-4">Soon</a>
                </div>
                <img src="/images/phellen_klemgeneres.png" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">Daily Riverdale Memes</h3>
                    <a href="/daily-riverdale-memes.html" class="btn btn-outline-white py-2 px-4">See More</a>
                </div>
                <img src="/images/riverdale.jpg" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">Daily Marvel Memes</h3>
                    <a href="/daily-marvel-memes.html" class="btn btn-outline-white py-2 px-4">See More</a>
                </div>
                <img src="/images/daily-marvel-memes.jpg" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">How We Became Cursed</h3>
                    <a href="/cursed-timeline.html" class="btn btn-outline-white py-2 px-4">Find Out</a>
                </div>
                <img src="/images/cursed_hourglass.png" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">Hunger Games Winners</h3>
                    <a href="/hunger-games-winners.html" class="btn btn-outline-white py-2 px-4">See Our Winners</a>
                </div>
                <img src="/images/hunger_games.png" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">Official Swamp Playlist</h3>
                    <a href="https://open.spotify.com/playlist/2u1vyvKkKl4vOYP48uTrhs?si=cmpaXiSDSjWO7gYeKwutPA" class="btn btn-outline-white py-2 px-4">Listen Now</a>
                </div>
                <img src="/images/playlist.png" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="image-wrap-2">
                <div class="image-info">
                    <h3 class="mb-3">About The Swamp</h3>
                    <a href="/about-the-swamp.html" class="btn btn-outline-white py-2 px-4">All About Us</a>
                </div>
                <img src="/images/swamp.png" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{{> footer}}
