{{> swamp-header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">About The Swampys</h2>
            <p class="swampys">
                <b>Hello all you cool cats and kittens and welcome to The Swampys!</b><br><br>

                The Swampys are our server-wide chaos games where you can upvote or downvote people depending on a variety of factors, most of them being: because it's fun.<br><br>

                Here's how the games work: You post things that can be deemed cute, chaotic, gay, punny, simpy, swampy, a mite bastardy, or cursed for points. You might get upvoted, you might not.<br><br>

                Every message you send in the server gets you points regardless of whether you're being cursed or not, so it pays to be active. However, it pays more to upvote or downvote your fellow swampys participants.<br><br>

                If you participate in the games, the games will reward you.<br><br>

                The games have 60+ levels of fun and chaotic characters from Steve Rogers to Donald Duck to Shrek himself. You can even achieve true greatness and reach the level of UIltimate Mega Supreme Bastard if you truly apply yourself. There's no limit to how high you can go.*<br><br>

                Now, what sort of content garners an upvote or downvote, you ask?<br><br>

                Well, when someone is being particularly cursed, chaotic, or a mite bastardy, feel free to upvote them via the</p>
            <ul class="swampysul"><li>!!bastard up @username</li>
                <li>!!aww up @username</li>
                <li>!!simpy up @username</li>
                <li>!!gay up @username</li>
                <li>!!punny up @username</li>
                <li>!!swampy up @username commands.</li></ul></p>

            <p class="swampys">You can also downvote someone with the same commands as you see fit.<br><br>

                <b>At the end of every fortnight two winners will be chosen.</b> <br><br>

                For the 18+ crowd you will be crowned <b>Bastard Supreme</b> and for the Chaos Children you will be crowned <b>Ultimate Child of Chaos</b> and you will be posted on the Swamp site under our bastard collection already in progress below!
            </p>
            <p class="swampysast">*there is a limit to how high you can go and it is level 100.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Ultimate Child of Chaos & Bastard Supreme</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_Card_Nelly.png" class="img-fluid"
                 alt="Playing Card Ace of spades with Vampira and a sash that reads Bastard of the week | Nelly" />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_Card_Megan.png" class="img-fluid"
                 alt="Playing card 3 of spades with star butterfly and a sash that reads Bastard of the week | Megan" />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_Card_Elle.png" class="img-fluid"
                 alt="Playing card 4 of spades with someone from a rick riordan book idk who and a sash that reads Bastard of the week | Elle" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_of_the_month_Oct_Alyssa.png" class="img-fluid"
                 alt="Playing card Queen of diamonds with Laurel Lance and a sash that reads Bastard Supreme | Alyssa" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Ultimate_Child_Of_Chaos_October_Rhea.png" class="img-fluid"
                 alt="Playing card queen of spades with Zari Tarazi from I am legends (Legends of Tomorrow) and sash that reads Ultimate Child of Chaos | Rhea" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_of_the_month_Card2_Me.png" class="img-fluid"
                 alt="Playing card queen of hearts with the 13th Doctor from Doctor Who and sash that reads Bastard Supreme | DesWren" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Chaos_Child_of_the_month_Card2_Angell.png" class="img-fluid"
                 alt="Playing card king of spades with the bandaged up guy from doom squad and sash that reads Ultimate Child of Chaos | Angell" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_of_the_month_Card3_Nelly.png" class="img-fluid"
                 alt="Playing card queen of clubs with April Ludgate from Parks and Recreations and sash that reads Bastard Supreme | Nelly" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Chaos_Child_of_the_month_Card3_Angell.png" class="img-fluid"
                 alt="Playing card king of slubs with wacko from the animaniacs that reads Ultimate Child of Chaos | Angell" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_Supreme_Jan1st_Lena.png" class="img-fluid"
                 alt="Playing card 3 of hearts with Addie LaRue holding a glowing dove that reads Bastard Supreme | Lena" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Unbeatable_Jan1st_Angell.png" class="img-fluid"
                 alt="Playing card ace of clubs with Kermit the Frog sipping Lipton tea that reads The Unbeatable Child of Chaos | Angell" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Bastard_of_the_month_Card2_Me2.png" class="img-fluid"
                 alt="Playing card 5 of hearts with Kyo from Fruit's Basket in cat form that reads The Bastard Supreme | Dez" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Angell_Wins_Again_MidJan_Card4.png" class="img-fluid"
                 alt="Playing card 3 of clubs with John Ralphio from Parks and Recreation shouting 'THE W-O-O-ORST' into Ben Wyatt's Ear while he looks deeply offended that reads The Unbeatable Child of Chaos | Angell" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Megan_Jan_7Diamonds.png" class="img-fluid"
                 alt="Playing card 7 of diamonds with Elizabeth Olson as Scarlet Witch that reads Bastard Supreme | Megan — This win caused an enormous rift in The Swamp where Lena, who literally threw a massive bitch fit after the fact, stopped interacting in The Swamp for an entire week and blocked me and Santiago on all social media" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Sahar_Jan_ADiamonds.png" class="img-fluid"
                 alt="Playing card ace of diamonds with Donkey from Shrek that reads Ultimate Child of Chaos | Sahar with text beside Donkey's ear reading Breaker of Streaks since Sahar broke Angell's 4x winning streak. Huzzah!" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Santiago_feb28_bastardsupreme.png" class="img-fluid"
                 alt="Playing card King of diamonds with Puss in Boots from Shrek that reads Bastard Supreme | Santiago" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Angell_Wins_Again_Card5.png" class="img-fluid"
                 alt="Playing card 7 of hearts with Abed from Community that reads The Unbeatable Child of Chaos | Angell" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Lisa_March1_JackDiamonds_Bastard.png" class="img-fluid"
                 alt="Playing card Jack of diamonds with Seokjin from BTS with pink hair motioning toward the camera that reads Bastard Supreme | Lisa" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Toni_March1_3Diamond_Chaos.png" class="img-fluid"
                 alt="Playing card 3 of diamonds with Amity from Owl house looking unamused that reads Ultimate Child of Chaos | Toni" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Tally_March2_7Hearts_Bastard.png" class="img-fluid"
                 alt="Playing card 7 of hearts with Scrooge McDuck fom Ducktales (2017) smiling at the camera looking unamused that reads Bastard Supreme | Taliah" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Toni_March2_8Hearts_Chaos.png" class="img-fluid"
                 alt="Playing card 8 of hearts with Lenga from Sk8 Infinity bnusting out of the card and stealing hearts that reads Ultimate Child of Chaos | Toni" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Nelly_April1_5Spades_Bastard.png" class="img-fluid"
                 alt="Playing card 5 of spades with Billy Ray Cyrus and his mullet and a green background made out of marijuana leaves that reads Bastard Supreme | Nelly" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Toni_April1_Joker_Chaos.png" class="img-fluid"
                 alt="Playing card JOKER with Duo the green duolingo owl that reads Ultimate Child of Chaos above Duo's head and Toni beneath Duo's feet. This is a reference to Toni running our duolingo meme account" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Santiago_April2_JackClubs_Bastard.png" class="img-fluid"
                 alt="Playing cardJack of Clubs with a frowning charlie brown potato head that reads Bastard Supreme | Santiago" />
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 botw">
            <img src="/images/the-swampys/Shrek_April2_JackSpades_ChaosIncarnate.png" class="img-fluid"
                 alt="Playing card King of Spades with smiling handsome Shrek from Shrek that reads Chaos Incarnate | Shrek - he also has a bisexual gradient background because he's bishreksual." />
        </div>
    </div>
</div>

{{> footer}}