{{> members-header}}
<div class="container">
    <h1>New Trivia Question</h1>

    <div class="alert alert-primary d-none" role="alert" id="cardAlert">Status will appear here, probably</div>

    <form id="triviaForm">
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" required>
        </div>
        <div class="form-group">
            <label for="answerA">A</label>
            <input type="text" class="form-control" id="answerA" required>
        </div>
        <div class="form-group">
            <label for="answerB">B</label>
            <input type="text" class="form-control" id="answerB" required>
        </div>
        <div class="form-group">
            <label for="answerC">C</label>
            <input type="text" class="form-control" id="answerC" required>
        </div>
        <div class="form-group">
            <label for="correctAnswer">Correct Answer</label>
            <select class="form-control" id="correctAnswer" required>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br/><br/><hr/><br/><br/>

    <div class="container">
        <p>
            Warning: Spoilers below, scroll down at your own risk
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </p>
    </div>

    <br/><br/><hr/><br/><br/>

    <div class="container">
        <h1>Existing Questions</h1>
        {{#trivia}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{uuid}}</h5>
                    <p class="card-text">
                        Question: {{question}}<br/>
                        Answer: {{correctAnswer}}<br/>
                        A: {{answerA}}<br/>
                        B: {{answerB}}<br/>
                        C: {{answerC}}
                    </p>
                </div>
            </div>
        {{/trivia}}
    </div>
</div>

<script>
    function formSubmit(e) {
        e.preventDefault();

        const cardAlert = document.querySelector("#cardAlert");
        const question = document.querySelector("#question");
        const answerA = document.querySelector("#answerA");
        const answerB = document.querySelector("#answerB");
        const answerC = document.querySelector("#answerC");
        const correctAnswer = document.querySelector("#correctAnswer");

        const postData = {
            question: question.value,
            answerA: answerA.value,
            answerB: answerB.value,
            answerC: answerC.value,
            correctAnswer: correctAnswer.value
        };

        question.value = "";
        answerA.value = "";
        answerB.value = "";
        answerC.value = "";

        fetch(window.location.href, {
            method: "POST",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify(postData)
        }).then(response => response.text())
                .then(result => {
                    cardAlert.classList.remove("d-none");
                    cardAlert.innerHTML = result;
                })
                .catch(result => {
                    cardAlert.classList.remove("d-none");
                    cardAlert.innerHTML = result;
                });
    }

    document.querySelector("#triviaForm").addEventListener("submit", formSubmit);
</script>
{{> footer}}